* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
}

a {
  text-decoration: none;
  user-select: none;
}

img {
    pointer-events: none;
}



/* Card container */

.container {
  margin: auto;
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  padding: 0px 0px 30px 0px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.inner-container {
  float: left;
  width: 25%;
  padding: 0px 15px 15px 15px;
  margin-bottom: 5%;
}

.card:hover a:hover .card-title {
  text-decoration: underline;
}

.card-title {
  color: #020814;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 0px 10px 0px;
}

.card-date {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  font-weight: 500;
  word-spacing: 1px;
  text-align: right;
  padding: 3px 0px 0px 0px;
}

.card-description {
  color: #555;
  font-family: 'Lora', serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .02em;
}




@media screen and (max-width:1400px) {
  .container {
    width: 72.2%;
  }
}


@media screen and (max-width:1300px) {
  .container {
    width: 72.4%;
  }
}


@media screen and (max-width:1200px) {
  .container {
    width: 92.5%;
  }
}


@media screen and (max-width:1100px) {
  .container {
    width: 93%;
  }
}


@media screen and (max-width:1000px) {
  .container {
    width: 93.5%;
  }
  .inner-container {
    width: 33.3%;
    padding: 0px 15px 15px 15px;
  }
  .card-title {
    font-size: 15px;
  }
  .card-description {
    font-size: 13px;
  }
  .card-date {
    font-size: 9px;
  }
}


@media screen and (max-width:900px) {
  .container {
    width: 94%;
  }
}


@media screen and (max-width:800px) {
  .container {
    width: 94.5%;
  }
}


@media screen and (max-width:700px) {
  .container {
    width: 95%;
  }
}


@media screen and (max-width:600px) {
  .container {
    width: 95.5%;
  }
  .inner-container {
    width: 50%;
  }
}


@media screen and (max-width:500px) {
  .container {
    width: 96.5%;
  }
}


@media screen and (max-width:400px) {
  .container {
    width: 97%;
  }
}
